body {
  background-color: #f7f7f7;
  padding: 1em;
}

.center-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
}

.whoareyou .consigne {
  margin-bottom: 1em;
}

.whoareyou .whoareyou-button {
  margin-top: 1em;
}

.verify .verify-button {
  margin: 4px;
}
.center {
  text-align: center;
}

.center.final button {
  text-transform: initial;
}

.final .final-title {
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.center-wrapper input {
  background-color: white;
}

.final-text-wrapper {
  max-width: 590px;
  margin: auto;
}
